@import url('reset.css');
@import url('general.css');

:root {
    --primary-color: #5A9BFE;
    --primary-hover-color: #3A7ED9;
    --border-color: #0F0D23;
    --footer-bg-color: #031525;
    --text-white-color: #FFFFFF;
    --text--subtext-color: #AAAAAA;
    --text-dark-color: #000000;
    --text-placeholder-color: #07122E;
    --error-color: red;

    --font-primary: "Ubuntu", sans-serif;
    --font-secondary: "DM Sans", sans-serif;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --fs-sm: 1.4rem;
    --fs-base: 1.6rem;
    --fs-lg: 2rem;
    --fs-xl: 2.4rem;
    --fs-xxl: 4rem;


    --screen-tablet: 1024px;
    --screen-mobile: 768px;
}

.container {
    max-width: 86%;
    margin: 0 auto;
}
